<h1>My Bookmarks</h1>

<button type="button" onClick="location.href='/add_bookmark'" name="add">Add new bookmark</button>

<ul>
  <% @bookmarks.each do |bookmark| %>
  <li>
    <a href= <%= bookmark.url %>
    <%= bookmark.title %></a>
  </li>
  <% end %>
</ul>
