<form action='/bookmarks' method="post">
  Name: <input type="text" name="title" placeholder="Website name" style="width:200px">
  URL: <input type="text" name="url" placeholder="www.myfavoritesite.com" style="width:400px">
  <input type="submit" value="Add">
</form>
